conky.config = {
  -- General Settings --
  background=false,
  default_graph_height=26,
  default_graph_width=80,
  double_buffer=true,
  draw_borders=false,
  draw_graph_borders=false,
  draw_outline=false,
  draw_shades=false,
  imlib_cache_size=10,
  no_buffers=true,
  show_graph_range=false,
  show_graph_scale=false,
  update_interval=2,

  -- Window Settings --
  border_inner_margin=0,
  border_outer_margin=0,
  gap_x={{conky_gap_x|default(0)}},
  gap_y={{conky_gap_y|default(0)}},
  maximum_width=200,
  minimum_width=200,
  minimum_height=1100,
  own_window_argb_value=0,
  own_window_argb_visual=true,
  own_window_hints="undecorated,below,sticky,skip_taskbar,skip_pager",
  own_window_transparent=true,
  own_window=true,
  own_window_type="desktop",

  -- Text Settings --
  use_xft=true,
  xftalpha=1,
  font="Ubuntu:bold:size=8",
  text_buffer_size=256,
  override_utf8_locale=true,
  short_units=true,
  short_units=true,
  pad_percents=2,
  top_name_width=7,

  -- Color Scheme --
  default_color="CCCCCC",
  color1="D79921",
  color2="AAAAAA",
  color3="CC2414",
  color4="98971a",
  color5="444444",

  -- Lua Scripts --
  lua_load = '~/.pkmeter/draw.lua',
  lua_draw_hook_pre = 'main',
}

conky.text = [[
${texeci 1800 ~/.pkmeter/pkmeter.py darksky}\
${texeci 5 ~/.pkmeter/pkmeter.py nvidia}\
${texeci 1800 ~/.pkmeter/pkmeter.py externalip}\
\
\
${voffset 8}${font Ubuntu:medium:size=40}${alignr 105}${time %d}${font}
${voffset -41}${goto 105}${time %b %Y}
${goto 105}${time %A}
${goto 105}${time %H:%M:%S %P}
\
\
${image ~/.cache/pkmeter/current.png -p 87,87 -s 35x35}\
${voffset 30}${goto 10}${font Ubuntu:bold:size=11}{{darksky_location}}${font}
${goto 10}${color1}${execi 60 ~/.pkmeter/pkmeter.py darksky.currently.summary}${color}
${voffset -30}${alignr 10}${font Ubuntu:bold:size=12}${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.currently.temperature}°F${font}
${alignr 10}Feels: ${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.currently.apparentTemperature}°
${image ~/.cache/pkmeter/day0.png -p 15,140 -s 20x20}\
${image ~/.cache/pkmeter/day1.png -p 65,140 -s 20x20}\
${image ~/.cache/pkmeter/day2.png -p 115,140 -s 20x20}\
${image ~/.cache/pkmeter/day3.png -p 165,140 -s 20x20}\
${font Ubuntu:bold:size=7}${voffset 42}${color2}\
${goto 17}${execi 60 ~/.pkmeter/pkmeter.py -f %a darksky.daily.data.0.time}\
${goto 67}${execi 60 ~/.pkmeter/pkmeter.py -f %a darksky.daily.data.1.time}\
${goto 117}${execi 60 ~/.pkmeter/pkmeter.py -f %a darksky.daily.data.2.time}\
${goto 167}${execi 60 ~/.pkmeter/pkmeter.py -f %a darksky.daily.data.3.time}
${goto 17}${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.daily.data.0.temperatureMax}°\
${goto 67}${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.daily.data.1.temperatureMax}°\
${goto 117}${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.daily.data.2.temperatureMax}°\
${goto 167}${execi 60 ~/.pkmeter/pkmeter.py -ir0 darksky.daily.data.3.temperatureMax}°\
${color}${font}
\
\
${voffset 17}${goto 100}${color1}${cpugraph cpu0 24,90}${color}
${voffset -35}${goto 10}${font ubuntu:bold:size=9}System${font}
${goto 10}${color1}${nodename}${color}
${voffset 15}${goto 10}${color2}CPU Usage${color}${alignr 55}${cpu cpu0}%
${goto 10}${color2}CPU Uptime${color}${alignr 55}${uptime_short}
${goto 10}${color2}Mem Used${color}${alignr 55}${mem}
${goto 10}${color2}Mem Free${color}${alignr 55}${memeasyfree}
\
\
${voffset 17}${goto 10}${font ubuntu:bold:size=9}NVIDIA${font}
${goto 10}${color1}${execi 60 ~/.pkmeter/pkmeter.py nvidia.cardname} ${execi 60 ~/.pkmeter/pkmeter.py nvidia.nvidiadriverversion}${color}
${voffset 15}${goto 10}${color2}GPU Usage${color}${alignr 55}${execi 5 ~/.pkmeter/pkmeter.py nvidia.gpuutilizationgraphics}%
${goto 10}${color2}GPU Temp${color}${alignr 55}${execi 5 ~/.pkmeter/pkmeter.py nvidia.gpucoretemp}°F
${goto 10}${color2}Mem Used${color}${alignr 55}${execi 5 ~/.pkmeter/pkmeter.py nvidia.percentuseddedicatedgpumemory}% of ${execi 60 ~/.pkmeter/pkmeter.py nvidia.freededicatedgpumemory}
\
\
${voffset 17}${goto 10}${font ubuntu:bold:size=9}Processes${font}
${goto 10}${color1}${processes} processes${color}
${voffset 15}${goto 10}${color2}${top name 1}${color}${goto 110}${top mem_res 1}${alignr 10}${top cpu 1}%
${goto 10}${color2}${top name 2}${color}${goto 110}${top mem_res 2}${alignr 10}${top cpu 2}%
${goto 10}${color2}${top name 3}${color}${goto 110}${top mem_res 3}${alignr 10}${top cpu 3}%
${goto 10}${color2}${top name 4}${color}${goto 110}${top mem_res 4}${alignr 10}${top cpu 4}%
${goto 10}${color2}${top name 5}${color}${goto 110}${top mem_res 5}${alignr 10}${top cpu 5}%
${goto 10}${color2}${top name 6}${color}${goto 110}${top mem_res 6}${alignr 10}${top cpu 6}%
\
\
${voffset 17}${goto 100}${color3}${upspeedgraph {{network_device}} 12,90}${color}
${goto 100}${color4}${downspeedgraph {{network_device}} -11,90}${color}
${voffset -29}${goto 10}${font ubuntu:bold:size=9}Network${font}
${goto 10}${color1}${execi 60 ~/.pkmeter/pkmeter.py externalip.ip}${color}
${voffset 15}${goto 10}{{network_device}}${alignr 10}${addr {{network_device}}}
${goto 10}${color2}Upload${color}${alignr 10}${upspeed {{network_device}}}/s of ${totalup {{network_device}}}
${goto 10}${color2}Download${color}${alignr 10}${downspeed {{network_device}}}/s of ${totaldown {{network_device}}}
\
\
${voffset 17}${goto 100}${color1}${diskiograph {{filesystem_io}} 24,90}${color}
${voffset -35}${goto 10}${font ubuntu:bold:size=9}File Systems${font}
${goto 10}${color1}IO: ${diskio}/s${color}
${voffset 15}${goto 10}{{filesystem1_name}}${alignr 55}${fs_free {{filesystem1_path}}} free
${goto 10}${color2}${fs_used_perc {{filesystem1_path}}}%${color}${alignr 55}${fs_size {{filesystem1_path}}} total
${voffset 5}${goto 10}{{filesystem2_name}}${alignr 55}${fs_free {{filesystem2_path}}} free
${goto 10}${color2}${fs_used_perc {{filesystem2_path}}}%${color}${alignr 55}${fs_size {{filesystem2_path}}} total
]]
